@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Jaini&family=Julee&family=Kings&family=Lily+Script+One&family=Schoolbell&family=Sevillana&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Jaini&family=Julee&family=Kings&family=Lily+Script+One&family=Sansita+Swashed:wght@300..900&family=Schoolbell&family=Sevillana&display=swap");
.card {
  padding: 50px;
  background-color: rgb(147, 211, 213);
  border-top: 4px goldenrod solid ;
  border-bottom: 4px black solid ;
  border-left: 8px goldenrod double ;
  border-right: 8px black double ;
  border-top-right-radius: 1000px;
  border-bottom-left-radius: 1000px;
  border-top-left-radius: 1000px;
  border-bottom-right-radius: 1000px;
}

.card-img-top {
  display: block;
  margin: 0 auto;
}

.card-title {
  text-align: center;
  font-family: "Kings", cursive;
  font-size: x-large;
}

.card_text {
  text-align: center;
  font-size: large;
  font-family: "Sansita Swashed", system-ui;
}
.button {
  background-color: yellow;
  font-size: x-large;
  font-family: "Lily Script One", system-ui;
  border-radius: 30px;
  border: 2px red solid; 
}
